:host {
  --_duration: var(--alwatr-elevation-duration, 0s);
  --_easing: var(--alwatr-elevation-easing, cubic-bezier(0.2, 0, 0, 1));
  --_level: var(--alwatr-elevation-level, 0);
  --_shadow-color: var(--alwatr-elevation-shadow-color, var(--alwatr-sys-color-shadow, #000));
  border-radius: inherit;
  display: flex;
  position: relative;
}
:host {
  position: relative;
}
:host::before,
:host::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: box-shadow var(--_duration) var(--_easing);
}
:host::before {
  opacity: 0.3;
  box-shadow: 0px
    calc(1px * (clamp(0, var(--_level), 1) + clamp(0, var(--_level) - 3, 1) + 2 * clamp(0, var(--_level) - 4, 1)))
    calc(1px * (2 * clamp(0, var(--_level), 1) + clamp(0, var(--_level) - 2, 1) + clamp(0, var(--_level) - 4, 1))) 0px
    var(--_shadow-color);
}
:host::after {
  opacity: 0.15;
  box-shadow: 0px
    calc(1px * (clamp(0, var(--_level), 1) + clamp(0, var(--_level) - 1, 1) + 2 * clamp(0, var(--_level) - 2, 3)))
    calc(1px * (3 * clamp(0, var(--_level), 2) + 2 * clamp(0, var(--_level) - 2, 3)))
    calc(1px * (clamp(0, var(--_level), 4) + 2 * clamp(0, var(--_level) - 4, 1))) var(--_shadow-color);
}
