:root {
  --alwatr-source: #d3a500;
  /* primary */
  --alwatr-ref-palette-primary0: #000000;
  --alwatr-ref-palette-primary10: #241a00;
  --alwatr-ref-palette-primary20: #3e2e00;
  --alwatr-ref-palette-primary25: #4b3900;
  --alwatr-ref-palette-primary30: #594400;
  --alwatr-ref-palette-primary35: #674f00;
  --alwatr-ref-palette-primary40: #765b00;
  --alwatr-ref-palette-primary50: #947300;
  --alwatr-ref-palette-primary60: #b38b00;
  --alwatr-ref-palette-primary70: #d3a500;
  --alwatr-ref-palette-primary80: #f1c02c;
  --alwatr-ref-palette-primary90: #ffdf92;
  --alwatr-ref-palette-primary95: #ffefd0;
  --alwatr-ref-palette-primary98: #fff8f1;
  --alwatr-ref-palette-primary99: #fffbff;
  --alwatr-ref-palette-primary100: #ffffff;
  /* secondary */
  --alwatr-ref-palette-secondary0: #000000;
  --alwatr-ref-palette-secondary10: #231a04;
  --alwatr-ref-palette-secondary20: #392f15;
  --alwatr-ref-palette-secondary25: #453a1f;
  --alwatr-ref-palette-secondary30: #51462a;
  --alwatr-ref-palette-secondary35: #5d5134;
  --alwatr-ref-palette-secondary40: #6a5d3f;
  --alwatr-ref-palette-secondary50: #837656;
  --alwatr-ref-palette-secondary60: #9e8f6e;
  --alwatr-ref-palette-secondary70: #baaa87;
  --alwatr-ref-palette-secondary80: #d6c5a0;
  --alwatr-ref-palette-secondary90: #f3e1bb;
  --alwatr-ref-palette-secondary95: #ffefd0;
  --alwatr-ref-palette-secondary98: #fff8f1;
  --alwatr-ref-palette-secondary99: #fffbff;
  --alwatr-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --alwatr-ref-palette-tertiary0: #000000;
  --alwatr-ref-palette-tertiary10: #05210b;
  --alwatr-ref-palette-tertiary20: #1a361e;
  --alwatr-ref-palette-tertiary25: #254228;
  --alwatr-ref-palette-tertiary30: #314d33;
  --alwatr-ref-palette-tertiary35: #3c593e;
  --alwatr-ref-palette-tertiary40: #486549;
  --alwatr-ref-palette-tertiary50: #607f60;
  --alwatr-ref-palette-tertiary60: #799979;
  --alwatr-ref-palette-tertiary70: #93b492;
  --alwatr-ref-palette-tertiary80: #aecfac;
  --alwatr-ref-palette-tertiary90: #c9ebc7;
  --alwatr-ref-palette-tertiary95: #d7fad5;
  --alwatr-ref-palette-tertiary98: #ebffe7;
  --alwatr-ref-palette-tertiary99: #f6fff1;
  --alwatr-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --alwatr-ref-palette-neutral0: #000000;
  --alwatr-ref-palette-neutral10: #1e1b16;
  --alwatr-ref-palette-neutral20: #33302a;
  --alwatr-ref-palette-neutral25: #3e3b35;
  --alwatr-ref-palette-neutral30: #4a4640;
  --alwatr-ref-palette-neutral35: #56524b;
  --alwatr-ref-palette-neutral40: #625e57;
  --alwatr-ref-palette-neutral50: #7b766f;
  --alwatr-ref-palette-neutral60: #959088;
  --alwatr-ref-palette-neutral70: #b0aaa2;
  --alwatr-ref-palette-neutral80: #ccc6bd;
  --alwatr-ref-palette-neutral90: #e8e1d9;
  --alwatr-ref-palette-neutral95: #f7f0e7;
  --alwatr-ref-palette-neutral98: #fff8f1;
  --alwatr-ref-palette-neutral99: #fffbff;
  --alwatr-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --alwatr-ref-palette-neutral-variant0: #000000;
  --alwatr-ref-palette-neutral-variant10: #201b10;
  --alwatr-ref-palette-neutral-variant20: #353024;
  --alwatr-ref-palette-neutral-variant25: #413b2e;
  --alwatr-ref-palette-neutral-variant30: #4c4639;
  --alwatr-ref-palette-neutral-variant35: #585244;
  --alwatr-ref-palette-neutral-variant40: #655e4f;
  --alwatr-ref-palette-neutral-variant50: #7e7667;
  --alwatr-ref-palette-neutral-variant60: #989080;
  --alwatr-ref-palette-neutral-variant70: #b3aa99;
  --alwatr-ref-palette-neutral-variant80: #cfc5b4;
  --alwatr-ref-palette-neutral-variant90: #ece1cf;
  --alwatr-ref-palette-neutral-variant95: #faefdd;
  --alwatr-ref-palette-neutral-variant98: #fff8f1;
  --alwatr-ref-palette-neutral-variant99: #fffbff;
  --alwatr-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --alwatr-ref-palette-error0: #000000;
  --alwatr-ref-palette-error10: #410002;
  --alwatr-ref-palette-error20: #690005;
  --alwatr-ref-palette-error25: #7e0007;
  --alwatr-ref-palette-error30: #93000a;
  --alwatr-ref-palette-error35: #a80710;
  --alwatr-ref-palette-error40: #ba1a1a;
  --alwatr-ref-palette-error50: #de3730;
  --alwatr-ref-palette-error60: #ff5449;
  --alwatr-ref-palette-error70: #ff897d;
  --alwatr-ref-palette-error80: #ffb4ab;
  --alwatr-ref-palette-error90: #ffdad6;
  --alwatr-ref-palette-error95: #ffedea;
  --alwatr-ref-palette-error98: #fff8f7;
  --alwatr-ref-palette-error99: #fffbff;
  --alwatr-ref-palette-error100: #ffffff;
  /* light */
  --alwatr-sys-color-primary-light: #765b00;
  --alwatr-sys-color-on-primary-light: #ffffff;
  --alwatr-sys-color-primary-container-light: #ffdf92;
  --alwatr-sys-color-on-primary-container-light: #241a00;
  --alwatr-sys-color-secondary-light: #6a5d3f;
  --alwatr-sys-color-on-secondary-light: #ffffff;
  --alwatr-sys-color-secondary-container-light: #f3e1bb;
  --alwatr-sys-color-on-secondary-container-light: #231a04;
  --alwatr-sys-color-tertiary-light: #486549;
  --alwatr-sys-color-on-tertiary-light: #ffffff;
  --alwatr-sys-color-tertiary-container-light: #c9ebc7;
  --alwatr-sys-color-on-tertiary-container-light: #05210b;
  --alwatr-sys-color-error-light: #ba1a1a;
  --alwatr-sys-color-error-container-light: #ffdad6;
  --alwatr-sys-color-on-error-light: #ffffff;
  --alwatr-sys-color-on-error-container-light: #410002;
  --alwatr-sys-color-background-light: #fffbff;
  --alwatr-sys-color-on-background-light: #1e1b16;
  --alwatr-sys-color-surface-light: #fffbff;
  --alwatr-sys-color-on-surface-light: #1e1b16;
  --alwatr-sys-color-surface-variant-light: #ece1cf;
  --alwatr-sys-color-on-surface-variant-light: #4c4639;
  --alwatr-sys-color-outline-light: #7e7667;
  --alwatr-sys-color-inverse-on-surface-light: #f7f0e7;
  --alwatr-sys-color-inverse-surface-light: #33302a;
  --alwatr-sys-color-inverse-primary-light: #f1c02c;
  --alwatr-sys-color-shadow-light: #000000;
  --alwatr-sys-color-surface-tint-light: #765b00;
  --alwatr-sys-color-outline-variant-light: #cfc5b4;
  --alwatr-sys-color-scrim-light: #000000;
  /* dark */
  --alwatr-sys-color-primary-dark: #f1c02c;
  --alwatr-sys-color-on-primary-dark: #3e2e00;
  --alwatr-sys-color-primary-container-dark: #594400;
  --alwatr-sys-color-on-primary-container-dark: #ffdf92;
  --alwatr-sys-color-secondary-dark: #d6c5a0;
  --alwatr-sys-color-on-secondary-dark: #392f15;
  --alwatr-sys-color-secondary-container-dark: #51462a;
  --alwatr-sys-color-on-secondary-container-dark: #f3e1bb;
  --alwatr-sys-color-tertiary-dark: #aecfac;
  --alwatr-sys-color-on-tertiary-dark: #1a361e;
  --alwatr-sys-color-tertiary-container-dark: #314d33;
  --alwatr-sys-color-on-tertiary-container-dark: #c9ebc7;
  --alwatr-sys-color-error-dark: #ffb4ab;
  --alwatr-sys-color-error-container-dark: #93000a;
  --alwatr-sys-color-on-error-dark: #690005;
  --alwatr-sys-color-on-error-container-dark: #ffdad6;
  --alwatr-sys-color-background-dark: #1e1b16;
  --alwatr-sys-color-on-background-dark: #e8e1d9;
  --alwatr-sys-color-surface-dark: #1e1b16;
  --alwatr-sys-color-on-surface-dark: #e8e1d9;
  --alwatr-sys-color-surface-variant-dark: #4c4639;
  --alwatr-sys-color-on-surface-variant-dark: #cfc5b4;
  --alwatr-sys-color-outline-dark: #989080;
  --alwatr-sys-color-inverse-on-surface-dark: #1e1b16;
  --alwatr-sys-color-inverse-surface-dark: #e8e1d9;
  --alwatr-sys-color-inverse-primary-dark: #765b00;
  --alwatr-sys-color-shadow-dark: #000000;
  --alwatr-sys-color-surface-tint-dark: #f1c02c;
  --alwatr-sys-color-outline-variant-dark: #4c4639;
  --alwatr-sys-color-scrim-dark: #000000;
}

:root {
  /* theme light */
  --alwatr-sys-color-primary: var(--alwatr-sys-color-primary-light);
  --alwatr-sys-color-on-primary: var(--alwatr-sys-color-on-primary-light);
  --alwatr-sys-color-primary-container: var(--alwatr-sys-color-primary-container-light);
  --alwatr-sys-color-on-primary-container: var(--alwatr-sys-color-on-primary-container-light);
  --alwatr-sys-color-secondary: var(--alwatr-sys-color-secondary-light);
  --alwatr-sys-color-on-secondary: var(--alwatr-sys-color-on-secondary-light);
  --alwatr-sys-color-secondary-container: var(--alwatr-sys-color-secondary-container-light);
  --alwatr-sys-color-on-secondary-container: var(--alwatr-sys-color-on-secondary-container-light);
  --alwatr-sys-color-tertiary: var(--alwatr-sys-color-tertiary-light);
  --alwatr-sys-color-on-tertiary: var(--alwatr-sys-color-on-tertiary-light);
  --alwatr-sys-color-tertiary-container: var(--alwatr-sys-color-tertiary-container-light);
  --alwatr-sys-color-on-tertiary-container: var(--alwatr-sys-color-on-tertiary-container-light);
  --alwatr-sys-color-error: var(--alwatr-sys-color-error-light);
  --alwatr-sys-color-error-container: var(--alwatr-sys-color-error-container-light);
  --alwatr-sys-color-on-error: var(--alwatr-sys-color-on-error-light);
  --alwatr-sys-color-on-error-container: var(--alwatr-sys-color-on-error-container-light);
  --alwatr-sys-color-background: var(--alwatr-sys-color-background-light);
  --alwatr-sys-color-on-background: var(--alwatr-sys-color-on-background-light);
  --alwatr-sys-color-surface: var(--alwatr-sys-color-surface-light);
  --alwatr-sys-color-on-surface: var(--alwatr-sys-color-on-surface-light);
  --alwatr-sys-color-surface-variant: var(--alwatr-sys-color-surface-variant-light);
  --alwatr-sys-color-on-surface-variant: var(--alwatr-sys-color-on-surface-variant-light);
  --alwatr-sys-color-outline: var(--alwatr-sys-color-outline-light);
  --alwatr-sys-color-inverse-on-surface: var(--alwatr-sys-color-inverse-on-surface-light);
  --alwatr-sys-color-inverse-surface: var(--alwatr-sys-color-inverse-surface-light);
  --alwatr-sys-color-inverse-primary: var(--alwatr-sys-color-inverse-primary-light);
  --alwatr-sys-color-shadow: var(--alwatr-sys-color-shadow-light);
  --alwatr-sys-color-surface-tint: var(--alwatr-sys-color-surface-tint-light);
  --alwatr-sys-color-outline-variant: var(--alwatr-sys-color-outline-variant-light);
  --alwatr-sys-color-scrim: var(--alwatr-sys-color-scrim-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* theme dark */
    --alwatr-sys-color-primary: var(--alwatr-sys-color-primary-dark);
    --alwatr-sys-color-on-primary: var(--alwatr-sys-color-on-primary-dark);
    --alwatr-sys-color-primary-container: var(--alwatr-sys-color-primary-container-dark);
    --alwatr-sys-color-on-primary-container: var(--alwatr-sys-color-on-primary-container-dark);
    --alwatr-sys-color-secondary: var(--alwatr-sys-color-secondary-dark);
    --alwatr-sys-color-on-secondary: var(--alwatr-sys-color-on-secondary-dark);
    --alwatr-sys-color-secondary-container: var(--alwatr-sys-color-secondary-container-dark);
    --alwatr-sys-color-on-secondary-container: var(--alwatr-sys-color-on-secondary-container-dark);
    --alwatr-sys-color-tertiary: var(--alwatr-sys-color-tertiary-dark);
    --alwatr-sys-color-on-tertiary: var(--alwatr-sys-color-on-tertiary-dark);
    --alwatr-sys-color-tertiary-container: var(--alwatr-sys-color-tertiary-container-dark);
    --alwatr-sys-color-on-tertiary-container: var(--alwatr-sys-color-on-tertiary-container-dark);
    --alwatr-sys-color-error: var(--alwatr-sys-color-error-dark);
    --alwatr-sys-color-error-container: var(--alwatr-sys-color-error-container-dark);
    --alwatr-sys-color-on-error: var(--alwatr-sys-color-on-error-dark);
    --alwatr-sys-color-on-error-container: var(--alwatr-sys-color-on-error-container-dark);
    --alwatr-sys-color-background: var(--alwatr-sys-color-background-dark);
    --alwatr-sys-color-on-background: var(--alwatr-sys-color-on-background-dark);
    --alwatr-sys-color-surface: var(--alwatr-sys-color-surface-dark);
    --alwatr-sys-color-on-surface: var(--alwatr-sys-color-on-surface-dark);
    --alwatr-sys-color-surface-variant: var(--alwatr-sys-color-surface-variant-dark);
    --alwatr-sys-color-on-surface-variant: var(--alwatr-sys-color-on-surface-variant-dark);
    --alwatr-sys-color-outline: var(--alwatr-sys-color-outline-dark);
    --alwatr-sys-color-inverse-on-surface: var(--alwatr-sys-color-inverse-on-surface-dark);
    --alwatr-sys-color-inverse-surface: var(--alwatr-sys-color-inverse-surface-dark);
    --alwatr-sys-color-inverse-primary: var(--alwatr-sys-color-inverse-primary-dark);
    --alwatr-sys-color-shadow: var(--alwatr-sys-color-shadow-dark);
    --alwatr-sys-color-surface-tint: var(--alwatr-sys-color-surface-tint-dark);
    --alwatr-sys-color-outline-variant: var(--alwatr-sys-color-outline-variant-dark);
    --alwatr-sys-color-scrim: var(--alwatr-sys-color-scrim-dark);
  }
}
